<!-- <div class="container">
  <form [formGroup]="myForm">
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-lable">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="User Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-lable">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="User Email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-lable">City</label>
          <input type="text" class="form-control" id="city" formControlName="city" placeholder="User Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <input type="button" value="Add" class="btn btn-primary" (click)="addData()">
        </div>
      </div>
    </div>
  </form>
</div> -->

<div class="container">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="username" class="form-lable">User Name</label>
          <input type="text" required [class.is-invlaid]="name?.invalid && name?.touched" class="form-control"
            id="username" formControlName="name" placeholder="User Name">
          <div *ngIf="name?.invalid && name?.touched">
            <small class="text-danger" *ngIf="name?.errors?.['required']">Name is required</small>
            <small class="text-danger" *ngIf="name?.errors?.['minlength']">Name must have 3 letters</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="username" class="form-lable">User Email</label>
          <input type="email" required [class.is-invlaid]="email?.invalid && email?.touched" class="form-control"
            id="username" formControlName="email" placeholder="User Name">
          <div *ngIf="email?.invalid && email?.touched">
            <small class="text-danger" *ngIf="email?.errors?.['required']">Email is required</small>
            <small class="text-danger" *ngIf="email?.errors?.['email']">Email must be in proper fromat</small>
          </div>
        </div>
      </div>
    </div>
    <div class="form-check">
      <input class="form-check-input" formControlName="notification" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Send Notification
      </label>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <label for="phoneNo" class="form-lable">User PhoneNO</label>
          <input type="number" required [class.is-invalid]="phoneNo?.invalid && phoneNo?.touched" class="form-control"
            id="username" formControlName="phoneNo" placeholder="PhoneNo">
          <div *ngIf="phoneNo?.invalid && phoneNo?.touched">
            <small class="text-danger" *ngIf="phoneNo?.errors?.['required']">PhoneNo is required</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="mb-3">
          <input type="button" [disabled]="userForm.invalid" class="btn btn-primary" value="Add">
        </div>
      </div>
    </div>
  </form>
</div>